<a href="https://colab.research.google.com/github/Ilipeluv/Colab/blob/main/Prueba_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cargas datos 
Función read_csv (terminación de tipo de datos)

0.Cargar librerias y conexiones

In [1]:
import pandas as pd
import os

1.Definir directorio donde se encuentra Datasets

In [2]:
mainpath = "drive/MyDrive/Proyectos"
filename = "Estadistica-Descriptiva/Violence.csv"
fullpatch = os.path.join(mainpath,filename)

2. Cargar el Dataset

In [6]:
from numpy.core.fromnumeric import shape
db = pd.read_csv(fullpatch)
db.shape

(3391, 7)

3.Caracteristicas del Dataset

In [8]:
db.head(10)

,incident_id,incident_date,state,city_or_county,address,killed,injured
0,2201535,December 31 2021,Maryland,Capitol Heights,Cindy Ln,0,4.0
1,2201716,December 31 2021,Mississippi,Gulfport,1200 block of Lewis Ave,3,4.0
2,2201216,December 31 2021,California,Los Angeles,10211 S. Avalon Blvd,0,6.0
3,2200968,December 30 2021,Pennsylvania,Philadelphia,5100 block of Germantown Ave,0,6.0
4,2201052,December 30 2021,Missouri,Kirksville,700 block of E Dodson St,2,2.0
5,2198521,December 27 2021,Colorado,Denver,56 Broadway,6,2.0
6,2198014,December 27 2021,Ohio,Youngstown,2626 Tyrell Ave,1,3.0
7,2200720,December 27 2021,Alabama,Mobile,3606 Moffett Rd,1,3.0
8,2198071,December 26 2021,New York,Buffalo,1300 block of Jefferson Ave,0,4.0
9,2197391,December 26 2021,Texas,Garland,730 W Walnut St,3,1.0

4.Caracteristicas de los datos finales

In [10]:
db.tail()

,incident_id,incident_date,state,city_or_county,address,killed,injured
3386,95550,January 12 2014,Alabama,Huntsville,University Drive,0,5.0
3387,95146,January 11 2014,Mississippi,Jackson,3430 W. Capitol Street,0,4.0
3388,94514,January 5 2014,Pennsylvania,Erie,829 Parade St,1,3.0
3389,92704,January 3 2014,New York,Queens,Farmers Boulevard and 133rd Avenue,1,3.0
3390,92194,January 1 2014,Virginia,Norfolk,Rockingham Street and Berkley Avenue Extended,2,2.0

5. Sacar datos aleatorios

In [11]:
db.sample()

,incident_id,incident_date,state,city_or_county,address,killed,injured
2409,734157,December 25 2016,Illinois,Chicago,8600 block of S Maryland Ave,3,4.0

6. Sacar medidas de tendencia central / Variables cuantitativas

In [12]:
db.describe()

        incident_id       killed      injured
count  3.391000e+03  3391.000000  3389.000000
mean   1.236033e+06     1.054851     4.182650
std    6.459642e+05     2.046927     7.841665
min    9.219400e+04     0.000000     0.000000
25%    6.347590e+05     0.000000     3.000000
50%    1.314253e+06     1.000000     4.000000
75%    1.799726e+06     1.000000     5.000000
max    2.201716e+06    59.000000   441.000000

7. Sacar medidas de tendencia central /variables cualitativas y cuantitativas

In [13]:
db.describe(include='all')

,incident_id,incident_date,state,city_or_county,address,killed,injured
count,3.391000e+03,3391,3391,3391,3386,3391.000000,3389.000000
unique,NaN,1747,49,936,3354,NaN,NaN
top,NaN,July 5 2020,Illinois,Chicago,700 block of Bourbon St,NaN,NaN
freq,NaN,15,361,263,2,NaN,NaN
mean,1.236033e+06,NaN,NaN,NaN,NaN,1.054851,4.182650
std,6.459642e+05,NaN,NaN,NaN,NaN,2.046927,7.841665
min,9.219400e+04,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,6.347590e+05,NaN,NaN,NaN,NaN,0.000000,3.000000
50%,1.314253e+06,NaN,NaN,NaN,NaN,1.000000,4.000000
75%,1.799726e+06,NaN,NaN,NaN,NaN,1.000000,5.000000
max,2.201716e+06,NaN,NaN,NaN,NaN,59.000000,441.000000

8. Sacar MTC/ Columna en específico

In [14]:
db['killed'].describe()

count    3391.000000
mean        1.054851
std         2.046927
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max        59.000000
Name: killed, dtype: float64

9.Sacar datos únicos

In [15]:
db['state'].unique()

array(['Maryland', 'Mississippi', 'California', 'Pennsylvania',
       'Missouri', 'Colorado', 'Ohio', 'Alabama', 'New York', 'Texas',
       'Virginia', 'Louisiana', 'Georgia', 'Illinois', 'North Carolina',
       'Florida', 'Michigan', 'Wisconsin', 'Tennessee', 'New Jersey',
       'South Carolina', 'Oregon', 'Arizona', 'South Dakota', 'Iowa',
       'Kentucky', 'Oklahoma', 'Nevada', 'Idaho', 'Washington',
       'Arkansas', 'Minnesota', 'Delaware', 'District of Columbia',
       'Kansas', 'West Virginia', 'Indiana', 'Massachusetts',
       'Rhode Island', 'New Hampshire', 'Connecticut', 'Nebraska',
       'Alaska', 'Utah', 'New Mexico', 'Maine', 'Montana', 'Wyoming',
       'Vermont'], dtype=object)